version: "3.9"

networks:
  app-net:

volumes:
  db-data:
  redis-data:

services:

  web:
    image: nginx:latest
    container_name: web-server
    ports:
      - "8080:80"
    depends_on:
      - redis
      - db
      - flask
    networks:
      - app-net

  redis:
    image: redis:latest
    container_name: redis-service
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - app-net

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo_db
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-net

  flask:
    build: ./flask-app
    container_name: flask-app
    ports:
      - "5000:5000"
    depends_on:
      - db
      - redis
    networks:
      - app-net
